extends ../layout

block content
	div(class='bg-light text-dark')
		.slideshow-container
			div(class='mySlides fadein' style="display:block;" )
				img(src='../media/events/brotherhood/ski.png' style="width:100%;" )
				div(class='text text-dark') 1/12/16 Poconos Skis Resort
			div(class='mySlides fadein')
				img(src='../media/events/brotherhood/hike.jpg' style="width:100%;")
				div(class='text text-light') 6/23/17 Breakneck Ridge Hiking
			div(class='mySlides fadein')
				img(src='../media/events/brotherhood/whitewater.jpg' style="width:100%")
				div(class='text text-light') 7/12/17 Whitewater rafting
			div(class='mySlides fadein')
				img(src='../media/events/brotherhood/bonfire.jpg' style="width:100%")
				div(class='text text-light') 4/29/18 Bonfire
			div(class='mySlides fadein')
				img(src='../media/events/brotherhood/mrk.jpg' style="width:100%")
				div(class='text text-light') 3/25/18 Brother Sam Winning Third Place in Mr.K 2018
			div(class='mySlides fadein')
				img(src='../media/events/brotherhood/volleyball.png' style="width:100%")
				div(class='text text-light') 4/15/18 Interfraternal Volleyball tournament
			div(class='mySlides fadein')
				img(src='../media/events/brotherhood/bbq.jpg' style="width:100%")
				div(class='text text-light') 5/12/18 Seniors BBQ before graduation
			// Next and previous buttons 
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
		<br>
		// The dots/circles 
		div(style="text-align:center")
			<span class="dot active" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
			<span class="dot" onclick="currentSlide(4)"></span>
			<span class="dot" onclick="currentSlide(5)"></span>
			<span class="dot" onclick="currentSlide(6)"></span>
		
		.container
			.row
				div(class="nine columns  pt2 pb2")
					h6(class='title') BROTHERHOOD 
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1")
						g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
							path(d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup")
			.row
				p At over 35,000 members, Theta Tau is the oldest, largest, and foremost Fraternity for Engineers. <br><br>
