<ul id='brotherdropdown' class='dropdown-content'>
	<li>
        <a href='/brothers?who=all' class='blue-text'> All </a>
    </li>
	<li class='template' style="display: none">
		<a href="/brothers?who=class" class="blue-text light">text</a>
    </li>
</ul>
<nav class='bg-dark text-white' role='navigation'>
	<div class='nav-wrapper container'>
		<a class='brand-logo' href='/' id='logo-container'>
			<img src='media/general/crest_small.png' vspace='15' />
        </a>
		<ul class='right hide-on-med-and-down'>
			<li>
                <a href="/" class="white-text text-lighten-2" style="text-decoration: none;"><span>HOME</span></a> 
            </li>
			<li class='dropdown' onmouseover='showDropdown(1)' onmouseout='hideDropdown(1)'>
				<a href="/#who-are-we" class="white-text text-lighten-2" style="text-decoration: none;">
                    <span>ABOUT
                        <div class='dropdowncontent'>
                            <a href='/about' style="text-decoration: none;"><span>Our Chapter</span></a>
							<a href='/about/thetatau' style="text-decoration: none;"><span>Theta Tau</span></a> 
							<a href='/about/greeklife' style="text-decoration: none;"><span>Greek Life</span></a> 
                        </div>
                    </span>
                </a>
            </li>
			<li class='dropdown' onmouseover='showDropdown(2)' onmouseout='hideDropdown(2)'></li>
				<a href="/#events" class="link nav-events white-text text-lighten-2" style="text-decoration: none;"> 
					<span>EVENTS
						<div class='dropdowncontent'>
                            <a href='/events/brotherhood' style="text-decoration: none;"><span>Brotherhood</span></a>
							<a href='/events/professional' style="text-decoration: none;"><span>Professional</span></a> 
							<a href='/events/service' style="text-decoration: none;"><span>Service</span></a> 
                            <a href='/events/annual' style="text-decoration: none;"><span>Annual</span></a>
                        </div>
                    </span>
                </a>
            </li>
			<li class='dropdown' onmouseover='showDropdown(3)' onmouseout='hideDropdown(3)'>
				<a href="/#spotlight" class="white-text text-lighten-2" style="text-decoration: none;"> 
                    <span>SPOTLIGHT
						<div class='dropdowncontent'>
                            <a href='/spotlight' style="text-decoration: none;"><span>All</span></a>
                        </div>
                    </span>
                </a>
            </li>
			<li>
				<a href='/rush' class="white-text text-lighten-2" style="text-decoration: none;"><span>RUSH</span></a> 
            </li>
            <li class='dropdown' onmouseover='showDropdown(4)' onmouseout='hideDropdown(4)'>
				<a href="/#brothers" class="white-text text-lighten-2" style="text-decoration: none;"> 
                    <span>BROTHERS
						<div class='dropdowncontent'>
                            <a href='/brothers?who=all' style="text-decoration: none;"><span>All</span></a>
                        </div>
                    </span>
                </a>
            </li>
        </ul>
		<ul class="side-nav" id="nav-mobile" style="left: -250px;">
			<li class='active'>
				<a href="/" class="white-text text-lighten-2" style="text-decoration: none;"><span>HOME</span></a>
            </li>
			<li>
				<a href="/rush" class="white-text light" style="text-decoration: none;"><span>RUSH</span></a> 
			<li>
				<a href="/brothers?who=all" class="white-text light" style="text-decoration: none;"><span>BROTHERS</span></a>
            </li>
        </ul>
		<a class="button-collapse white-text" data-activates="nav-mobile" href="#" style="text-decoration: none;"><i class="material-icons">menu</i></a>
    </div>		
</nav>
					
				
		