
    <footer>
        <div class='row'>
            <div class='col-md-1'></div>
            <div class='col-md-4'>
                <h5><i class="fa fa-road"></i> Stony Brook Theta Tau </h5>
                <div class="row">
                    <div class='col-md-6'>
                        <ul class='list-unstyled'>
                            <li><a href='/'> Home</a></li>
                            <li><a href='#who-are-we'> About</a></li>
                            <li><a href='#events'> Events</a></li>
                        </ul>
                    </div>
                    <div class='col-md-6'>
                        <ul class='list-unstyled'>
                            <li><a href='spotlight'>Spotlight</a></li>
                            <li><a href='/rush'>Rush</a></li>
                            <li><a href='/brothers'>Brothers</a></li>
                        </ul>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-2'>
                        <a href="https://www.facebook.com/ThetaTauSBU/"><img src="/media/general/facebook.png" height='40' width='40'></a>
                    </div>
                    <div class='col-md-2'>
                        <a href="https://www.instagram.com/stonythetatau/"><img src="/media/general/instagram.png" height='40' width='40'></a>
                    </div>
                    <div class='col-md-2'>
                        <a href="mailto:thetatau.SBU@gmail.com"><img src="/media/general/gmail.png" height='40' width='40'></a>      	                               
                    </div>
                </div>
            </div>
            <div class='col-md-2'>
                <h5 class='text-md-right'>Contact Us</h5>
                <hr></hr>
            </div>
            <div class='col-md-4'>
                <form>
                    <fieldset class='form-group'>
                        <input id='exampleInputEmail1' class='form-control' type="email" placeholder="Enter email"></input>
                    </fieldset>
                    <fieldset class='form-group'>
                        <input id='exampleMessage' class='form-control' type="email" placeholder="Enter email"></input>
                    </fieldset>
                    <fieldset class='form-group'>
                        <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                    </fieldset>
                </form>
            </div>
            <div class='col-md-1'></div>
        </div>
    </footer>

