
	<div class="parallax-container">
		<div class="parallax">
			<img alt="Unsplashed background img 2" src="/media/rush/banner_sp18.png" style="display: block;" />
		</div>
	</div>

	<div class='bg-light text-dark'>
		<div class="container">
			div(class='row')
				div(class="nine columns  pt2 pb2")
					h6(class='category') How can I rush for Theta Tau?
					svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1")
						g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
							path(d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup")
			<div class="row">
				<p>
					At the beginning of every semester, we hold a mix of informational and social events. It is during this time that you can come out to meet the brothers of Theta Tau in social events and activities that we hold, all the while expressing your interest as a prospective member in our fraternity. After rush week, you will be eligible in consideration for a bid, given that you attended at least 3 events we held during rush week.
				</p>
				
			</div>
		</div>
	</div>
	<div class='bg-dark text-light'>
		<div class='container'>
			<div class="row" align='center'>
				<br><h4 class='category'>Spring 2018 Rush Video</h4>
				<iframe id="rushVid" width="100%" src="https://www.youtube.com/embed/8ndRMW9P8V8" frameborder="0" allowfullscreen>
				</iframe>
			</div>	
		</div>
	</div>
	<div class='bg-light text-dark'>
		<div class='container' align='center'>
			<br><h4 class='category' align='left'>Spring 2018 Rush Schedule</h4><br>
			<img src="/media/rush/rush_schedule.jpg" width=75% height=75%" >
		</div>
	<div>
		</div>
	</div>
	<div class='bg-dark text-light'>
		<div class='container'>
			<div class='row mx-auto bg-dark text-light'>
				<div class="nine columns  pt2 pb2">
					<h6 class='category'>FAQ</h6>
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
							<path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
						</g>
					</svg>
				</div>
			</div>
			<div class="row">
				<h6>What is rush?</h6>
				<p>
					Rush is a series of social events and gatherings that allow prospective and current fraternity or sorority members to get to know each other. At the end of rush, Greek organizations offer "bids" to the prospective members they think are the best fits for the organization. Rush typically lasts from one to two weeks and takes place a week or two into the Fall and Spring Semesters during a time period colloquially known as "Rush Week".
				</p>
			</div>
			<div class="row">
				<h6>Who can rush?</h6>
				<p>
					Prospective members must have an overall GPA of at least 2.50, and it is recommended that prospective members are majoring in or planning to major in a major under the CEAS spectrum.
				</p>
			</div>
					
			<div class="row">
				<p>
					<em>If you consider yourself a prospective member and will rush or are rushing for us</em>, then please take a moment to fill out the form below. Doing so will make it easier for us to keep track of you as a prospective member which facilitates our contact with you.
				</p>
			</div>
		</div>
	</div>

	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container" align='center'>
				<div class="row">
					<h5 class="header col s12 ">All building starts with a foundation.<br><br></h5>
				</div>
				<div class="row" float='center'>
					<a class="btn-large waves-effect waves-light blue darken-3 grey-text text-lighten-4" href="/rush_form">Prospective Member Form</a>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img alt="Unsplashed background img 3" src="/media/rush/IMG_6913.jpg" style="display: block; transform: translate3d(-50%, 2px, 0px);">
		</div>
	</div>

