<!DOCTYPE HTML>
<html>
<head>
     <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible', content='IE=edge' />
    <meta name='viewport', content='width=device-width, initial-scale=1.0' />
    <meta name='theme-color' content='#4DA5F4' />
    <meta name='csrf-token', content=_csrf />
    <title>Stony Brook Theta Tau</title> 
    <!----------------librarys------------------------>
    <link rel='shortcut icon', href='../media/favicon.png' type='image/x-icon' />
    <link rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel='stylesheet', href='../css/lib/materialize.min.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../css/lib/bootstrap.min.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../css/lib/normalize.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../css/lib/skeleton.css', media="screen,projection", type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <!----------------Stylesheets------------------------>
    <link rel='stylesheet' href='../css/partials.css', media="screen,projection", type="text/css" /> 
</head>
<body>
    <div class='nav'></div>
	<div id="main" class='bg-light text-dark'>
		<div id='spotlighthome'>
			<div class='row'>
				<div class="col-md-1"></div>
				<div class="col-md-2" id="nav"></div>
				<div class="col-md-8" id="postSection"></div>
			</div>
		</div>

		<div id='spotlightpost'>
			<div id='image' class='container' align='center'></div>
			<div id='text' class='container'>
			</div>
		</div>
	</div>
    <!----------------librarys------------------------>
    <script src='../js/lib/jquery-3.3.1.min.js'></script>
    <script src='../js/lib/bootstrap.min.js'></script>
    <script src='../js/lib/materialize.min.js'></script>
    <!----------------json files------------------------>
    <script src='../js/json/brothersInfo.js'></script>
    <script src='../js/json/spotlightInfo.js'></script>
    <!----------------scripts------------------------>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82830990-1', 'auto');
        ga('send', 'pageview');

        $(document).ready(function(){
            $(".nav").load("partials/navbar.html");
            $(".footer").load("partials/footer.html");
        });

            
    </script>
    <script src='../js/partials.js'></script>
    <script src='../js/spotlightpost.js'></script>
</body>
</html>
