extends ../layout

block content

	div(class="parallax-container valign-wrapper")
		div.parallax
			img(alt="Unsplashed background img 3" src="/media/about/greeklife.jpg" style="display: block; transform: translate3d(-50%, 2px, 0px);")


	div(class="bg-white text-dark")
			div.container
				div(class="row mb4 mt4")
					div(class="nine columns  pt2 pb2")
						h6(class="category") Portfolio
						svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1")
							g(id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage")
								path(d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup")
				div(class="row mx-auto")
					h6.dark Check out where we have been
				div(class="row mx-auto")
					h5(class="light") At over 35,000 members, Theta Tau is the oldest, largest, and foremost Fraternity for Engineers. <br><br>
						div(class='row')
							p Our purpose is to develop and maintain a high standard of professional interest among our members, and to unite them in a strong bond of fraternal fellowship. Our members are: Honest and Ethical, Dependable and Trustworthy, Respectful, Generous, and Proud of our Community of Engineers. <br><br>
								As a professional engineering fraternity, we combine aspects found in that of social fraternities and technical-oriented societies to create a community where brothers can form life-long bonds, develop themselves professionally, and have meaningful social experiences.
							p For more information,   
							a(href="http://thetatau.org/" class="light") visit our national website