<!DOCTYPE HTML>
<html>
<head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible', content='IE=edge' />
    <meta name='viewport', content='width=device-width, initial-scale=1.0' />
    <meta name='theme-color' content='#4DA5F4' />
    <meta name='csrf-token', content=_csrf />
    <title>Stony Brook Theta Tau</title> 
    <!----------------librarys------------------------>
    <link rel='shortcut icon', href='../../media/favicon.png' type='image/x-icon' />
    <link rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel='stylesheet', href='../../css/lib/materialize.min.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../../css/lib/bootstrap.min.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../../css/lib/normalize.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../../css/lib/skeleton.css', media="screen,projection", type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <!----------------Stylesheets------------------------>
    <link rel='stylesheet' href='../../css/partials.css', media="screen,projection", type="text/css" /> 
    <link rel='stylesheet' href='../../css/about.css', media="screen,projection", type="text/css" /> 
</head>
<body>
    <div class='nav'></div>
    <div class="parallax-container">
		<div class="parallax">
			<img alt="Unsplashed background img 2" src="../../media/about/greeklife.jpg" style="display: block;" />
		</div>
	</div>

	<div class="bg-white text-dark">
		<div class='container'>
			<div class="row mx-auto">
                <div class="nine columns  pt2 pb2">
                    <h6 class="category"> Popoular Greek Life Terms</h6>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup"></path></g></svg>
                </div>
                <br>
                <div class="row" style='padding-left:1em; padding-top:1em;'>
                     <p><b>Professional Fraternities  </b> are organizations whose primary purpose is to promote the interests of a particular profession and whose membership is restricted to students in that particular field of professional education or study. Professional fraternities work to build brotherhood among members and cultivate the strengths of members in order to promote their profession and to provide assistance to one another in their mutual areas of professional study. Members are expected to remain loyal and active in the organization for life. Within their professional field of study, their membership is exclusive; however, they may initiate members who belong to other types of fraternities (e.g social)</p>
                
                
                     <p><b>Chapter  </b> is a membership unit of a national or international sorority or fraternity. Theta tau has 85 active Chapters nation wide.</p>
                
               
                     <p><b>Colony  </b>  is a new organization that is awaiting official recognition from their national to have a chapter at a campus.</p>
                
                
                     <p><b>Bid  </b>  is a formal invitation to join a fraternity or sorority. In Theta Tau, a bid is given to rushes who have met the rush requirements (Attended three rush events, one being informational, and attended the interview) and are voted "desireable" by the 85% of the members of the fraternity</p>
                
                
                     <p><b>Dues  </b> is the monetary costs of membership in a fraternity or sorority. These fees are used to cover the costs of operation, formal events, social activities, and other events, depending on the organization. In this fraternity, the active dues per semester is $  </p>
                
                     <p><b>Pledge Process </b>  </p>
                </div>
                
                
                   
            </div>
    
        </div>
    </div>
    <div class='footer'></div>
    
    <!----------------librarys------------------------>
    <script src='../../js/lib/jquery-3.3.1.min.js'></script>
    <script src='../../js/lib/bootstrap.min.js'></script>
    <script src='../../js/lib/materialize.min.js'></script>
    <!----------------json files------------------------>
    <!----------------scripts------------------------>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82830990-1', 'auto');
        ga('send', 'pageview');

        $(document).ready(function(){
            $(".nav").load("../partials/navbar.html");
            $(".footer").load("../partials/footer.html");
        });
    </script>
    <script src='../../js/partials.js'></script>
</body>
</html>

