<!DOCTYPE HTML>
<html>
<head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible', content='IE=edge' />
    <meta name='viewport', content='width=device-width, initial-scale=1.0' />
    <meta name='theme-color' content='#4DA5F4' />
    <meta name='csrf-token', content=_csrf />
    <title>Stony Brook Theta Tau</title> 
    <!----------------librarys------------------------>
    <link rel='shortcut icon', href='../../media/favicon.png' type='image/x-icon' />
    <link rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel='stylesheet', href='../../css/lib/materialize.min.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../../css/lib/bootstrap.min.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../../css/lib/normalize.css', media="screen,projection", type="text/css" />
    <link rel='stylesheet', href='../../css/lib/skeleton.css', media="screen,projection", type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <!----------------Stylesheets------------------------>
    <link rel='stylesheet' href='../../css/partials.css', media="screen,projection", type="text/css" /> 
    <link rel='stylesheet' href='../../css/about.css', media="screen,projection", type="text/css" /> 
</head>
<body>
    <div class='nav'></div>
    <div class="parallax-container">
		<div class="parallax">
			<img alt="Unsplashed background img 2" src="../../media/about/zetaepsilon.jpg" style="display: block;" />
		</div>
	</div>

	<div class="bg-white text-dark">
		<div class='container'>
            <div class='row'>
                <div class="nine columns  pt2 pb2">
                    <h6 class="category"> History Of Zeta Epsilon </h6>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="52px" height="2px" viewBox="0 0 52 2" version="1.1">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <path d="M1.5,1 L50.3364601,1" id="Line" stroke="#E03B3B" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup"></path></g></svg>
                </div>
                <p> Before being recognized as the Zeta Epsilon chapter, the colony with the name of Sigma Beta Theta Tau, began it's activities in the Fall of 2012. Founders Ali Islam and Anna Wu both wanted to create a close-knit community among the engineering disiplines that did not discriminate against the gender of a person.  </p>
                <p>The Central Office of Theta Tau was soon contacted and a small interest group was formed.
                The organization with Ali as president and Anna as vice president, elected its first round of officers
                during the Fall 2012 semester. Since then, The Sigma Beta Theta Tau Engineers have had weekly meetings and
                collaborations with other organizations in Stony Brook University to better know the community,
                in addition to organizing community service with organizations in Stony Brook, study days for
                members to help one another with schoolwork, and gym days to keep everyone in shape. Through
                various meetings and activities, the officers and the members soon became close friends all while
                benefiting the community.</p>
                <p> On March 23rd, 2013, the Stony Brook University Colony of Theta Tau was installed with
12 Founding members and Dr. David Westerfeld as their adviser.</p>
            </div>	
    
        </div>
    </div>
    <div class='footer'></div>
    
    <!----------------librarys------------------------>
    <script src='../../js/lib/jquery-3.3.1.min.js'></script>
    <script src='../../js/lib/bootstrap.min.js'></script>
    <script src='../../js/lib/materialize.min.js'></script>
    <!----------------json files------------------------>
    <!----------------scripts------------------------>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82830990-1', 'auto');
        ga('send', 'pageview');

        $(document).ready(function(){
            $(".nav").load("../partials/navbar.html");
            $(".footer").load("../partials/footer.html");
        });
    </script>
    <script src='../../js/partials.js'></script>
</body>
</html>

